/*Order*/
.order{
    width: 100%;
    height: 100vh;
    padding: 50px 0;
    background-color: #161515;
}

.order h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 55px;
}

.order h1 span{
    color: #f2c14e;
    margin-right: 15px;
    font-family: 'Times New Roman', Times, serif;
}

.order h1 span::after{
    content: '';
    width: 100%;
    height: 2px;
    background: #fac031;
    display: block;
    position: relative;
    bottom: 15px;
}

.order_main{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.order_image img{
    width: 600px;
}

 .order_main form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 10px;
}

.input p{
    line-height: 25px;
}

.input{
    margin: 5px;
}

.input input{
    width: 300px;
    height: 35px;
    padding: 0 10px;
    border: 1px solid rgb(109, 107, 107);
    background:black;
    color: white;
    outline: none;
    border-radius: 3px;
}

 .input input:focus{
    border: 1px solid #ffd700;
     box-shadow: 0 0 8px #e0b36f44;
}

.order_btn{
    padding: 10px 0;
    background: #e0b36f;
    color:#111;
    font-weight: bold;
    width: 40%;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    border-radius: 2px;
}
.order_btn:hover{
  background: #ffd88c;
}
/*responsivness*/

@media (max-width: 900px) {
  .order_main {
    flex-direction: column;
    gap: 40px;
  }

  .order_image img {
    width: 80%;
    max-width: 450px;
  }

  .order_main form {
    grid-template-columns: 1fr;
  }

  .input input {
    width: 100%;
  }

  .order h1 {
    font-size: 40px;
  }
}
/*For mobiles*/
@media (max-width: 600px) {

  .site-header {
    padding: 15px 20px;
  }

  .logo {
    font-size: 16px;
  }

  .main-nav a {
    font-size: 13px;
    margin-left: 12px;
  }

  .order h1 {
    font-size: 32px;
    text-align: center;
  }

  .order_image img {
    width: 100%;
    max-width: 350px;
  }

  .order_main form {
    width: 90%;
    grid-template-columns: 1fr;
  }

  .input {
    margin: 5px 0;
  }

  .input input {
    width: 100%;
  }

  .order_btn {
    width: 70%;
    font-size: 14px;
  }
}

